@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: grid;
    background: slategray;
    height: 100%;
}

.drums {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.drum {
    background-color: darkgray;
    width: 100px;
    height: 100px;
    box-shadow: 2px 3px 3px 2px rgb(73, 73, 73);
}

#synth {
    background-color: darkgray;
    width: 100px;
    height: 100px;
    box-shadow: 2px 3px 3px 2px rgb(73, 73, 73);
}

#controls {
    background-color: lightgray;
}