@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background: slategray;
    align-items: center;
    height: 100%;
}

h1 {
    display: flex;
    font-family: 'Gloria Hallelujah', cursive;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 0;
}

#drums {
    margin: auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    grid-row: 2/4;
}

.drum {
    background-color: darkgray;
    width: 200px;
    height: 200px;
    box-shadow: 2px 3px 3px 2px rgb(73, 73, 73);
    
}