* {
    box-sizing: border-box;
}

body {
    background: slategray;
    align-items: ;
}

#drums {
    margin: auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.drum {
    width: 200px;
    height: 200px;
}